body {
  // width: 100%;
  border: 1px solid magenta;
  padding: 1rem 0;
}
header {
  display: block;
  position: relative;
  background: red;
  height: 4rem;
  h1 {
    font-size: 2.4rem;
    background-image: none, url("../images/noun_stars_1741394.svg");
    background-repeat: no-repeat;
    background-position-y: 0.5rem;
    padding-left: 2.5rem;
  }
  nav {
    transition: all 2s ease-in-out 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: yellow;
    width: 8rem;
    height: 3rem;
    margin-bottom: 0;
    ul {
      background: magenta;
      display: flex;

      li {
        padding: 0.5rem 1rem;
      }
    }
  }
}

main {
  background: rgba(118, 252, 118, 0.2);
}
