/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background: #303030;
}
body {
  height: 100%;
  font-family: sans-serif;
}
header {
  transition: all 1s ease-in-out 500ms;
  width: 100%;
  display: block;
  position: relative;
  height: 6.5rem;
}
header h1 {
  color: white;
  font-size: 2.4rem;
  background-repeat: no-repeat;
  text-indent: 1rem;
  padding-top: 1rem;
}
header nav {
  transition: all 1s ease-in-out 500ms;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8rem;
  height: 2rem;
  margin-bottom: 0;
}
header nav ul {
  transition: all 100ms ease-in-out 100ms;
  height: 2rem;
  display: flex;
  flex-direction: row;
  right: 0;
}
header nav ul:before {
  content: "";
  transition: all 1s ease-in-out 500ms;
  transform: scale(0);
  display: block;
  position: absolute;
  background-image: linear-gradient(#ffffff 0%, #ffffff 25%, rgba(255, 255, 255, 0) 25%, transparent 75%, transparent 100%, #ffffff 100%);
  background-size: 1rem 44%;
}
header nav ul li a {
  color: #303030;
  display: block;
  transition: transform 100ms ease-in 100ms;
  padding: 0 1rem;
  height: 2rem;
  line-height: 2rem;
  transform: scale(1);
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
header nav ul li a:hover {
  background: #ffffff;
  color: black;
}
main {
  padding: 1rem;
  color: #eeeeee;
}
main .sidebar {
  display: none;
}
main article h1 {
  font-size: 2.4rem;
  margin: 1rem 0;
}
main article h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
}
main article p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 1rem 0 1.2rem;
}
@media all and (max-width: 600px) {
  body {
    background: rgba(255, 0, 0, 0.1);
  }
  header {
    height: 4.5rem;
  }
  header nav {
    bottom: 100%;
    left: 100%;
    width: 2rem;
    height: 2rem;
    margin-bottom: -2rem;
    margin-left: -2rem;
  }
  header nav ul:before {
    transform: scale(1);
    top: 0.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
  header nav ul li {
    font-size: 0.1rem;
  }
  header nav ul li:first-child {
    margin-top: 0;
  }
  header nav ul li a {
    transform: scale(0);
    opacity: 0;
    padding: 0;
  }
  header nav ul:hover {
    width: 4rem;
    flex-direction: column;
    position: relative;
    right: 2rem;
  }
  header nav ul:hover li {
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
  }
  header nav ul:hover li:first-child {
    margin-top: 2rem;
  }
  header nav ul:hover li a {
    width: 100%;
    transform: scale(1);
    opacity: 1;
    position: relative;
    right: 4rem;
  }
}
@media all and (min-width: 601px) {
  body {
    background: rgba(255, 255, 0, 0.1);
  }
}
@media all and (min-width: 768px) {
  body {
    background: rgba(0, 255, 0, 0.1);
  }
}
@media all and (min-width: 900px) {
  body {
    background: rgba(0, 255, 255, 0.1);
  }
}
@media all and (min-width: 1200px) {
  body {
    background: rgba(0, 0, 255, 0.1);
  }
}
